/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  /* Header */
  .header {
    background-color: #ff9900; /* Cor de destaque */
    color: #fff;
    padding: 20px 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #333; /* Cor mais escura para contraste */
  }
  
  /* Hero Section */
  .hero {
    background-color: #333; /* Cor de fundo escura */
    color: #fff;
    text-align: center;
    padding: 50px 0;
  }
  
  .hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 18px;
  }
  
  /* Agendamento Form */
  .agendamento-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .agendamento-form label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
  }
  
  .agendamento-form input,
  .agendamento-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .agendamento-form button {
    background-color: #ff9900; /* Cor de destaque */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .agendamento-form button:hover {
    background-color: #e68a00; /* Cor mais escura em hover */
  }
  
  /* Footer */
  .footer {
    background-color: #ff9900; /* Cor de destaque */
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  