/* Reset de estilos padrão */
body, h1, h2, h3, p, ul, li, form, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
  }
  
  .header {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
  }
  
  .hero {
    text-align: center;
    padding: 50px 0;
  }
  
  .telebusca-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
    max-width: 400px;
  }
  
  .telebusca-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .telebusca-form select,
  .telebusca-form input[type="text"],
  .telebusca-form input[type="tel"],
  .telebusca-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  .telebusca-form button {
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .telebusca-form button:hover {
    background-color: #444;
  }
  
  .footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  /* Estilos específicos para a página de tele busca */
  .telebusca-form #service {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  .telebusca-form textarea {
    height: 100px;
  }
  
  /* Responsividade */
  @media screen and (max-width: 768px) {
    .nav-links {
      flex-direction: column;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  
    .telebusca-form {
      max-width: 90%;
    }
  }
  